* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  overflow-y: auto;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px 0px;
  width: 100vw;
}

.header h3 {
  margin: 0;
}

.footer {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer a {
  text-decoration: none;
  color: white;
  margin: 0px 10px;
}

.button {
  background-color: green;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 16px;
  font-family: inherit;
  display: inline;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.content {
  background-color: cadetblue;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.task {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task p {
  margin: 0;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task i {
  color: red;
  cursor: pointer;
}

.form {
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 10px;
}

.form-data {
  margin: 10px;
}

.form-data label {
  display: flex;
}

.form-data input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox label {
  flex: 1;
}

.checkbox input {
  flex: 2;
  height: 20px;
}